@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --dashboard-blue: #1d93d3;
  --element-white: #ffffff;
  --body-grey: #e2e9f0;
  --font-black: #1d1d1c;
  --border-yellow: #e4b233;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  height: 100vh;
}
.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.dashboard {
  background-color: var(--dashboard-blue);
}
.dash-element {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  color: var(--element-white);
}
