@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --dashboard-blue: #1d93d3;
  --element-white: #ffffff;
  --body-grey: #e2e9f0;
  --font-black: #1d1d1c;
  --border-yellow: #e4b233;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  min-height: 100vh;
}
.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr 0.3fr;
}
.dashboard {
  grid-row: 1 / span 2;
  background-color: var(--dashboard-blue);
  padding: 25px 20px;
}

.db-header p {
  color: var(--element-white);
  font-size: 24px;
  font-weight: 500;
}
.dash-element,
.db-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  color: var(--element-white);
}
.db-header {
  margin: 0 0 10px 0;
}
.db-menu {
  margin: 50px 0;
}
.dash-element {
  margin: 15px 0;
}
.icon {
  height: 24px;
  width: 24px;
}
.dash-element a {
  color: var(--element-white);
  text-decoration: none;
  font-size: 18px;
}
.dash-element a::active,
.dash-element a::a:visited {
  color: var(--element-white);
}
.header {
  padding: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  background-color: var(--element-white);
}
.search {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-bar {
  width: 100%;
}
.search-input {
  width: 80%;
  outline: none;
  border: none;
  background-color: var(--body-grey);
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
}
.notifications {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.info-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.big-icon {
  width: 75px;
  height: auto;
}
.g-text {
  font-size: 18px;
  font-weight: 500;
}
.g-name {
  font-size: 24px;
  font-weight: 500;
}
.header-buttons {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: 15px;
}
.btn {
  background: var(--dashboard-blue);
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  outline: none;
}
.btn:hover {
  background: #3cb0fd;
}
.main-section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: var(--body-grey);
  padding: 20px;
}
.cards {
  padding: 20px 20px 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.card {
  background-color: var(--element-white);
  border-radius: 0 5px 5px 0;
  border-left: 5px solid var(--border-yellow);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  align-items: flex-start;
}
.card-title {
  font-size: 20px;
  font-weight: 500;
}
.card-icons {
  align-self: flex-end;
  display: flex;
  gap: 15px;
}
